
{% extends 'core/homeBase.html' %}
{% load static %}
{% block title %}{{block.super}}-event-annualfest {% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>ANNUAL FEST</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>College fest is an annual cultural event at a college or university organised by the student community, involving participants from other colleges as well.[1][2][3][4][5] Professional performing artists are also typically invited, and a number of competitions are held for students. Fests are usually funded through sponsors, although some colleges have begun exploring the idea of crowdfunding.

</b>
        </br>
        <b>Literary events</b><br/>
Literary events usually include quizzes, word games, creative writing and some form of public speaking or debate.
<br>

<b>Cultural events</b><br/>

These include such competitions as music, dance, fine arts and drama.
<br>

<b>Professional events</b><br>

One or more professionally staged entertainment programs may be scheduled.
<br>

<b>Gaming events</b><br/>
Video games and board games may be played.<br>
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/af1.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/af2.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/af3.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/af4.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/af5.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/af6.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>
{% endblock content %}
            

   
  
