
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}{{block.super}}-event-blood {% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>BLOOD DONATION CAMP</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Blood is something we human beings haven’t been able to recreate. The only way to save lives thus is to donate. Incidentally, India falls short of 2 million units of blood every year, which could save more than 3.5 lakh lives.<br/>



Keeping this in mind, GMIT in association with Peoples Blood Bank organised a blood donation camp to commemorate the 4th death anniversary, of Shri Dhurjoti Banerjee,  its founding chairman, an educationist, entrepreneur and visionary in all aspects.<br/>



Esteemed guests who were present were Ms. Debarati Sarkar (SDO), Mr. Abhishek Majumdar (SDPO) and Baruipur police station IC Mr. Jayanta Bhadra.<br/>



Total of 135 units of blood was collected as students and faculty wholeheartedly participated in the event.<br/>

</b>
        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/blood1.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/blood2.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/blood3.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/blood4.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/blood5.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/blood6.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}