{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}{{block.super}}-contact {% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Contact Us</h2>
            
            <form action="#" class="contact_form">
              <input class="form-control" type="text" placeholder="Name*">
              <input class="form-control" type="email" placeholder="Email*">
              <textarea class="form-control" cols="30" rows="10" placeholder="Message*"></textarea>
              <input type="submit" value="Send Message">
            </form>
          </div>
        </div>
      </div>


      
            <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              <li>
                <div class="media"> <a href="index.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="index.html" class="catg_title"> Call for Admission</a> </div>
                </div>
              </li>
              <li>
                <div class="media"> <a href="index.html" class="media-left"> <img alt="" src="{% static 'images/tree1.jpg' %}"> Tree Plantation</a>
                  <div class="media-body"> <a href="index.html" class="catg_title"></a> </div>
                </div>
              </li>
              <li>
                <div class="media"> <a href="index.html" class="media-left"> <img alt="" src="{% static 'images/slider_img1.jpg' %}"> </a>
                  <div class="media-body"> <a href="index.html" class="catg_title"> Industry-Academia Collaboration</a> </div>
                </div>
              </li>
             
              <li>
                <div class="media"> <a href="index.html" class="media-left"> <img alt="" src="{% static 'images/tree2.jpg' %}"> Tree Plantation</a>
                  <div class="media-body"> <a href="../index.html" class="catg_title"> </a> </div>
                </div>
              </li>
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>

  
  


    
    
  </section>

            

   
  

  {% endblock content %}
  
