
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}DEPT-CSE-INTRODUCTION{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Department of Computer science & Engineering
</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Computer Science & Engineering (CSE) is an academic program at many universities which
                          comprises scientific and engineering aspects of computing. CSE is also a term often used in
                          Europe to translate the name of engineering informatics academic programs.<br>

Computer science and engineering department has the latest computer hardware and software resources necessary to train students for the industry. These resources are connected to the vast amount of knowledge and teaching/learning resources on the internet with 10 mbps internet connections. The faculty members bring in academic excellence and practical industrial experience to equip students with the skills necessary for today’s marketplace. So, whatever it is the programming language like C, C++, Java, Python and other databases like oracle and MySQL etc, students have access to all of them for adequate training on those tools. Internet technologies, the mainstay of building and expanding the vast reservoir of knowledge that the internet is, becomes a set of tools students become proficient in using. Projects undertaken by students in their final year addresses real life problems. By solving these problems and learning the project management skills, they can become true engineers.<br>

A special program designed to raise the employability levels of the graduates of this department will take 2nd, 3rd and 4th year students through rigorous hands-on programming practices in C, C++, Java, PHP, Drupal, Android etc.<br>

</b>
        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse11.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse12.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/computer.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse14.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse15.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse16.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            </div>


            
    
    
  </section>

            

   
  
{% endblock content %}