{% extends 'core/homeBase.html' %}
{% load static %}
{% block title %}DEPT-ECE-INTRODUCTION{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="left_content">
          <div class="contact_area">
            <h2>Apple October 2021 event: Five things we expect to see (and one thing not to expect)</h2>
            <p class='meta'>Computer Science</p>
            <p class='meta'>14/10/2021 by <a href='#'>user name</a></p>
            
            </div>
            
            </div>
            </div>
            </div>


             <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/ece11.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
<div class="contact_area">

      <p>
      <b>Computer has radically changed the way we look at knowledge today. Electronics and communication engineering, using sophisticated hardware and relevant technologies, have been able to develop almost error free high speed communication links that have led to the current era being dubbed the “Information Age”. Electronics and Communication Engineering also have relevance in areas like defense, health, remote sensing and disaster management. India has a rich heritage in this field, with scientists like Acharya Jagadish Chandra Bose inventing the Horn Antenna – one of the most widely used devices in satellite communication system.<br>

We at GMIT hope to produce skilled professionals who can carry on with this heritage. With our excellent infrastructure and dedicated faculty, we do believe we’ll succeed.
      </b>
        
        </p>
        </div>



          
          

            
    
    
  </section>

            

   
  
{% endblock content %}
