
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}DEPT-ME-INTRODUCTION{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Department of Mechanical Engineering
</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Mechanical engineering aims at imparting theoretical and practical knowledge on core subjects covering engineering drawing, manufacturing science, thermal science, as well as solid and fluid mechanism. In each field, the department engages professionally qualified faculty with industry background. The department organized quality industrial training to placement enhances placement opportunities for outgoing students.<br><br>

The mechanical engineering department has one of the best equipped advanced laboratory facilities with capable support staff. Our students also take part in seminars organized by various professional bodies such as IIF and ISHRAE. We believe in adhering to industry oriented teaching methodology for shaping our student’s career and providing industry –academia interactions.
</b>
        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me11.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me12.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me13.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me14.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me15.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me16.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>
            </div>


            
    
    
  </section>

            

   
  
{% endblock content %}
