
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}DEPT-ECE-LAB{% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2> LAB FACILITY</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Electronics and Devices Circuits Lab</b><br/>
      This Laboratory intends to provide an overview of the principles , operations and application of the analog building blocks like diodes , BJT , FET for performing various functions.<br><br>
      <b>Basic Electrical and Electronics Lab</b><br/>
      All the first year students of B.tech students perform experiments in BEEE laboratory . This Lab has necessary apparatus like motors , generators , transformers , gates , multimeters , voltmeters , wattmeters , energy meters , to effectively conduct experiments.<br><br>
      <b>Analog Communication System Lab</b><br/>
      This laboratory gives exposure to varios modulation , demodulation techniques used in a communication system . It also demonstrates digital communication concepts by providing hands on experience using kits and simulation environments.<br><br>
      <b>Microprocessor Lab</b><br/>
      This laboratory is Equipped with Microprocessor kits , interfacing Devices like LED , Keyboard interfacing , to control speed of DC motor using 8085.
      <b>Etc</b>


        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/lab1.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/lab2.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/lab3.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/lab4.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/lab5.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/lab6.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}
