
{% extends 'core/homeBase.html' %}
{% load static %}
{% block title %}DEPT-CSE-LAB{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2> LAB FACILITY</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>DBMS LAB </b><br><br>
The Lab is dedicated for Database related practicals. High configuration computer systems installed with softwares like Oracle Server, MySQL are used by the students to execute their Database related projects and assignments.<br><br>
      <b>COMPUTER NETWORK LAB</b><br><br>
Equipped with latest networking related devices, the lab facilitates students to perform Computer Network practicals. All important Network Simulators like Cisco Packet Tracer, NetSim, OMNET and NS3 are installed to provide solution to the practical problems faced by computer scientists.<br><br>
      <b>JAVA PROGRAMMING LAB</b><br><br>
Departmental Computer Labs consist of Licensed Software under Microsoft campus agreement and MATLAB with Simulink Performance Tools like Image Processing Tool Box, Neural Network Tool Box, Wavelet Transforms Toolbox, Filter Design Toolbox, and Communication Toolbox<br><br>
      <b>ALGORITHMS LAB</b><br><br>
The lab provides requisite environment for Design and Analysis of Algorithms for solving complex problems in the field of computer science. Students execute all data structure and other algorithm related practicals in the lab. The latest platforms/compilers are provided to the students to run their programs.
      <b>Etc</b>


        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse41.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse42.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/cse43.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/cse44.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/cse45.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/cse46.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}
