
{% extends 'core/homeBase.html' %}
{% load static %}
{% block title %}DEPT-ME-LAB{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2> LAB FACILITY</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>HEAT & MASS TRANSFER LAB</b><br><br>
Heat and Mass transfer is an important area of Mechanical Engineering. The lab provides the facilities for imparting practical on the related concepts of heat and mass transfer in thermal power plants, gas turbines, steam turbines and Heat exchangers.<br><br>
      <b>REFRIGERATION & AIR CONDITIONING LAB</b><br><br>
RAC (Refrigeration & Air Conditioning) is one of the most important contributions of Mechanical Engineering to the present day civilization. The lab has state of the art facilities for providing the hands-on experience to the students. Knowledge of domestic refrigerators and its various components, concepts of cooling and heating systems.<br><br>
      <b>STRENGTH OF MATERIALS LAB</b><br><br>
Testing of materials for their strength under the action of external loads are studied in this lab. Knowledge of strength of Metals and nonmetals is essentials before its use in any structure and designing.<br><br>
      <b>AUTOMOBILE LAB</b><br><br>
The lab has updated equipments needed for imparting practical insights in the study of Automobile Engineering. Various elements like transmission, suspension, chassis etc. are dealt with.
      <b>Etc</b>


        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me31.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/me32.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/me33.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/me34.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/me35.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/me36.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}
