
{% extends 'core/homeBase.html' %}
{% load static %}
{% block title %}DEPT-EE-LAB{% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2> LAB FACILITY</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Basic Electrical Engineering Lab</b><br><br>
It is common to all engineering students of first year to understand them about the basic concepts of generations of electricity, transmission and its distribution. In this lab students of first year perform experiments related to topics taught in theory like superposition theorem, nortons theorem, thevenin’s theorem, open circuit and short circuit test of single phase transformers, etc.<br><br>
      <b>Electrical Machines Lab</b><br><br>
This lab consist of number of machines like d.c. motors, shunt motors, d.c. generators, induction motors, three phase transformers, three phase alternators etc. on which students of second and third year perform experiments related to topics taught in theory.<br><br>
      <b>Power System Lab</b><br><br>
This lab consists of different relays like Differential relay, Overcurrent relay, Thermal relay, Instantaneous overcurrent relay, single line to ground fault analysis, three phase to ground fault analysis on which students of final year perform experiments related to topics studied in power system.<br><br>
      <b>Power Electronics Lab</b><br><br>
This lab consists of experimental setups on which students of third year perform experiments related to topics studied in power electronics like half bridge rectifier, full bridge rectifier, half wave converter, full wave converter, inverter and as simulation experiments performed by Power Simulation software.
      <b>Etc</b>


        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/ee31.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/ee32.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/ee33.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/ee34.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/ee35.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/ee36.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}