
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}DEPT-CE-LAB{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2> LAB FACILITY</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Concrete Laboratory</b><br><br>
1) Compression Testing Machine (200 tonne)
2) Ultrasonic Pulse velocity concrete tester
3) Rebound Hammer
4) Flexural Testing Machine<br><br>
      <b>Environmental Engineering Laboratory</b><br><br>
1) Spectro- photo meter
2) BOD Incubator Shaker
3) Flocculator Alum Jar Test Apparatus
4) Laminar Airflow Cabinet<br><br>
      <b>Geotechnical Engineering Laboratory</b><br><br>
1) Unconfined Compression Test  Apparatus
2) Sieves And Sieve Shaker
3) Hydrometer
4) Vane Shear Test Apparatus<br><br>
      <b>Structural Engineering Laboratory</b><br><br>
1) TUniversal Testing Machine 
2) Loading Frame
3) Two & Three Hinged Arches
4) Apparatus for Reciprocal Theorem
      <b>Etc</b>


        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{%static 'images/ce31.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{%static 'images/ce32.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{%static 'images/ce33.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{%static 'images/ce34.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{%static 'images/ce35.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{%static 'images/ce36.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}
