
{% extends 'core/homeBase.html' %}
{% load static %}
{% block title %}DEPT-ME-PRACTICE{% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>PRACTICE SESSION</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Employers value pre-entry work experience and especially that relating to the career you'd like to pursue. Some degree courses offer a year in industry, which is valuable as this will help you develop your skills and commercial awareness.<br><br>

If you'd like to get into engineering and your course doesn't offer a placement, try to secure one yourself during the summer holidays. Getting in touch directly with large engineering employers will show you take your work seriously. The work is often hands-on and provides a good insight into the engineering environment. It can also be a good idea to shadow different engineers to help you decide which area you'd like to work in.<br><br>

</b>
        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/me21.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/me22.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/me23.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/me24.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/me25.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/me26.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}

