
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}DEPT-ECE-PRACTICE{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>PRACTICE SESSION</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Former GMIT participants and current BME majors Raina Kikani ’23 and Molly Brakewood ’24 served as mentors for this year's summer program.<br>
      “The goal is to expand opportunities for students interested in engineering,” said Cindy Mosqueda, associate director of DPE. “We know there's a lot of inequality in students’ access to learning about engineering fields and computer science, and we want to make a little dent in that.”<br>
       “I was thoroughly impressed with how much the scholars were able to accomplish in just one week, especially given the remote learning environment.”

Scholars were able to prototype digital circuits using breadboards and were able to build simple IoT systems while collaborating with other scholars across the country. “I really do think we were able to turn the remote learning environment from a disadvantage into a unique opportunity to explore emerging IoT systems,”<br>

</b>
        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/ece12.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/ece13.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/ece14.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/ece15.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/ece16.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/ece17.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}


