
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}DEPT-CSE-PRACTICE{% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>PRACTICE SESSION</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Building a base on the moon was once something out of science fiction, but now scientists are starting to consider it more seriously. Researchers are investigating methods for mining lunar resources to build such a base, using swarms of autonomous robots.<br><br>


After all, if someone from Los Angeles was moving to New York to build a house, it would be a lot easier to buy the building materials in New York rather than buy them in Los Angeles and lug them 2,800 miles. Considering the distance between Earth and the moon is about 85 times greater, and that getting there requires defying gravity, using the moon's existing resources is an appealing idea.<br><br>

A University of Arizona team, led by researchers in the College of Engineering, has received $500,000 in NASA funding for a new project to advance space-mining methods that use swarms of autonomous robots. As a Hispanic-Serving Institution, the university was eligible to receive funding through NASA's Minority University Research and Education Project Space Technology Artemis Research Initiative.<br><br>

"It's really exciting to be at the forefront of a new field," said Moe Momayez, interim head of the Department of Mining and Geological Engineering and the David & Edith Lowell Chair in Mining and Geological Engineering. "I remember watching TV shows as a kid, like 'Space: 1999,' which is all about bases on the moon. Here we are in 2021, and we're talking about colonizing the moon."<br><br>

</b>
        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse37.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/cse32.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/cse33.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/cse34.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/cse35.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/cse36.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}
