
{% extends 'core\homeBase.html' %}
{% load static %}
{% block title %}{{block.super}}-event-Vishwakarma puja {% endblock title %}
{% block content %}
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>VISHWAKARMA PUJA</h2>
            
            </div>
            </div>
            </div>
            </div>
<div class="contact_area">

      <p><b>Vishwakarma Jayanti is a day of celebration for Vishwakarma, a Hindu god, the divine architect.He is considered as swayambhu and creator of the world. He constructed the holy city of Dwarka where Krishna ruled, the palace of Indraprastha for the Pandavas, and was the creator of many fabulous weapons for the gods. He is also called the divine carpenter, is mentioned in the Rig Veda, and is credited with Sthapatya Veda, the science of mechanics and architecture.<br/>
      According to sacred Hindu tradition, Vishwakarma is known as the Divine Engineer of the world. Like every other God, Vishwakarma is assigned a day that is his birthday or Jayanti that is Vishwakarma Jayanti. The problem with this is that since he is known as the original creator of the world, he existed a few days before he created the world. Vishwakarma had five Sons and two Daughters. Name of Sons – Mannu, Maidev, Tavashta, Shilpi and Devagya. The divine craftsman Vishwakarma is the presiding deity of all craftsmen and architects. Son of Brahma, he is the divine craftsman of the whole universe, and the official builder of all the gods' palaces.

</b>
        
        </p>
        </div>



          
           <div class="row">
           <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
                <a href="#" target="_blank">
                  <img src="{% static 'images/vp1.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">




              
                <a href="#" target="_blank">
                  <img src="{% static 'images/vp2.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/vp3.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/vp4.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
    <a href="#" target="_blank">
                  <img src="{% static 'images/vp5.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="thumbnail">
      <a href="#" target="_blank">
                  <img src="{% static 'images/vp6.jpg' %}" alt="Lights" style="width:100%">
                  <div class="caption">                                            
                  </div>
               
              </div>
            </div>
            </div>
            
          </div>

    
    
  </section>

            

   
  
{% endblock content %}
